.container {
    max-width: 900px;
    margin: 0 auto;
}
.comment_list{
    display: flex;
    
}
.pagination_num{
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: cadetblue;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
}